* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-grey: #F6F6F4;
  --grey-20: #EAEAE6;
  --accent-red: #FF6B6B;
}



/* HEADER CONTENT  */






/* TWO BLOCKS (CARDS) AND TWO PICTURES */

/* ABSTRACT CONTENT */
.abstract {
  background-color: var(--grey-20);
  padding: 90px;
  margin-top: -5px;
}

.buttonschedule {
  background-color: var(--accent-red);
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 7px;

}

/* IMG - DSF8508.jpg - DSF8566.jpg */
main img{
  width: 100%;
}

/* DICTIONARY/QUOTE  */ 
.quote {
  background-color: var(--background-grey);
  padding: 90px;
  margin-top: -5px;
}


/* 5 STEPS */
