* {
  box-sizing: border-box;
  margin: 0;
}

/* -----CUSTOM PROPERTIES----- */

:root{
  --Background-grey: #F6F6F4;
  --Grey-20: #EAEAE6;
  --Accent-red: #FF6B6B;
  --Grey-50: #C6C5BD;
  --Grey-70: #9B9A92;
  --Grey-99: #3C3B34;

}

/* -----FONT-FAMILY----- */

@font-face{
  font-family: Aktiv Grotesk;
  src: url(AktivGrotesk_Bd.ttf);
}

@font-face{
  font-family: Aktiv Grotesk;
  src: url(AktivGrotesk_Lt.ttf);
}

@font-face{
  font-family: Aktiv Grotesk;
  src: url(AktivGrotesk_Md.ttf);
}

@font-face{
  font-family: Aktiv Grotesk;
  src: url(AktivGrotesk_Rg.ttf);
}





/* -----BASIC ELEMENTS----- */

/* -----FONT STYLELING----- */

p{
  line-height: 1.6;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}

em{
  margin-top: 0.5;
}


/* -----BACKGROUNDCOLOR----- */
