* {
  box-sizing: border-box;
  margin: 0;
}

/* -----CUSTOM PROPERTIES----- */

:root{

  /* COLOR */
  --Background-grey: #F6F6F4;
  --Grey-20: #EAEAE6;
  --Accent-red: #FF6B6B;
  --Grey-50: #C6C5BD;
  --Grey-70: #9B9A92;
  --Grey-99: #3C3B34;

  /* FONT */
  
}

/* -----FONT-FAMILY----- */

@font-face{
  font-family: Aktiv Grotesk;
  src: url(AktivGrotesk_Bd.ttf);
}

@font-face{
  font-family: Aktiv Grotesk;
  src: url(AktivGrotesk_Lt.ttf);
}

@font-face{
  font-family: Aktiv Grotesk;
  src: url(AktivGrotesk_Md.ttf);
}

@font-face{
  font-family: Aktiv Grotesk;
  src: url(AktivGrotesk_Rg.ttf);
}





/* <---- BASIC ELEMENTS ----> */

body{
  /* padding: 2em; */
  
}

ul{
  list-style: none;
  line-height: 1.6em;
  padding: 0;
}

li{
  margin-right: 0.5em;
}

a{
  color: var(--Accent-red);
  display: inline-block;
}

/* <---- FONT STYLELING ----> */

p{
  line-height: 1.6em;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}

h2{
  margin-bottom: 0.2em;
  margin-top: 0.5em;
}

h3 {
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}

header{
 /* background-image: url("/assets/lifely-delivery-transparant-2000x2000.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--Background-grey);
  /* height: 400px; */

}

.header_img{
  width: 80%;
  position: absolute;
  padding: 1em 0 1em 0 1em;
  left: 17%;
  top: 0%;
}

.header_title{
  padding: 11em 1em 0 1em;
 
}

.nav_p{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
  margin-top: -0.5em;
  margin-right: 0.5em;
}

.icon_hamburger{
  margin: 0 0 0 0.1em;

}

nav{
  display: flex;
  align-items: center;
  
}

.lifely_logo{ 
 padding: 1em;
}


/* <-- MAIN --> */

/* <-- SECTION ABSTRACT STYLING --> */

.Abstract {
  background-color: var(--Grey-20);
  padding: 46px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
  position: relative;
 font-family: Aktiv Grotesk;
 

} 

.img_abstract{
  width: 80%;
  position: absolute;
  padding: 1em 0 1em 0 1em;
  left: 17%;
  top: -13%;
}

/* img{
  width: 100%;
  margin-top: -7em;
  position: absolute;
} */

.DIV_Abstract{
  padding-top: 6em;
}


.img_woman{
  width: 100%;

}

/* <-- SECTION DICTIONARY/QUOTE STYLING --> */

.DICTIONARY {
  background-color: var(--Background-grey);
  padding: 46px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
  position: relative;
}

.img_DICTIONARY{
  width: 80%;
  position: absolute;
  padding: 1em 0 1em 0 1em;
  left: 17%;
  top: 0%;
}

.DIV_DICTIONARY{
  padding-top: 15em;
}


.img_employees{
  width: 100%;
}

/* <-- SECTION 5 STEPS  STYLING --> */

.STEPS{
background-color: var(--Grey-20);
padding: 17px;
padding-left: 21px;
margin-top: -5px;
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
}

.STEPS > h2 {
  width: 80%;
  padding: 0.5em;
}

.STEPS > h3 {
  color: var(--Accent-red);
}


.DIV_STEPS_1, .DIV_STEPS_2, .DIV_STEPS_3, .DIV_STEPS_4, .DIV_STEPS_5  {
  background: var(--Background-grey);
  width: 80%;
  height: 323px;
  border-radius: 9px;
  text-align: left;
  padding: 1.5em;
  padding-left: 1.5em;
  align-items: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em;
  /* margin-left: 2.5em; */
}

.hidden{
  opacity:0;
  transition: 1s;
  transform: scale(0)
}

.show{
  opacity: 1;
  transform: translateY(-20px);
  transform: scale(1);
}



/* <-- SECTION CASES  STYLING --> */





/* <-- SECTION CONTACT STYLING --> */

.CONTACT {
  background-color: var(--Grey-50);
  padding: 17px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
}

.DIV_CONTACT {
  text-align: center;
}
/* <-- SECTION RELATED STYLING --> */

.RELATED {
  background-color: var(--Grey-70);
  padding: 17px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
}


.RELATED_1, .RELATED_2, .RELATED_3 {
  background-color: var(--Grey-50);
  width: 277px;
  height: 89px;
  border-radius: 10px;
  text-align: center;
  text-align: center;
  align-items: center;
  display: flex;
  margin: 1.5em;
  margin-left: 2.5em;
  flex-direction: column;
  justify-content: center;
} 

.DIV_RELATED{
  text-align: center;
}







/* <-- FOOTER STYLING --> */

/* <-- ARTICLE LIFELY  STYLING --> */

.LIFELY{
  background-color: var(--Grey-99);
  color: var(--Background-grey);
  padding: 17px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
}


/* <-- ARTICLE SERVICES STYLING --> */

.SERVICES{
  background-color: var(--Grey-99);
  color: var(--Background-grey);
  padding: 17px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
}

/* <-- ARTICLE SOLUTIONS STYLING --> */

.SOLUTIONS{
  background-color: var(--Grey-99);
  color: var(--Background-grey);
  padding: 17px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
}


/* <-- ARTICLE TAGLINE STYLING --> */

.TAGLINE{
  background-color: var(--Grey-50);
  padding: 17px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
  
}


/* <-- ARTICLE CREDENTIALS STYLING --> */

.CREDENTIALS{
  background-color: var(--Grey-99);
  color: white;
  /* padding: 0.7em; */
  /* padding-bottom: 0.5em; */
  padding: 17px;
  padding-left: 21px;
  margin-top: -5px;
  width: 100vw;
}

